.navbar-brand {
	font-family: 'Libre Baskerville', serif;
	color: #e85d33;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e85d33;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.tech-logo {
	display: flex;
  	padding: 5px;
	}

#home {
	height: 100vh;
	position: relative;
	text-align: center;
	background-color: #e85d33;
	padding-top: 100px;
	color: white;
	font-weight:800;
	font-size: 200px;

	}


.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

#about, #contact, #contact {
	height: 100vh;
	background-color: white;
	padding-top: 200px;
	padding-bottom: 100px;
	}

#tech-stack {
	height: 50vh;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: lightgray;
	}

#projects {
	height: 100vh;
	background-color: white;
	padding-top: 100px;
	padding-bottom: 50px;
	}
 

h1, h2, h3, h4 {
	display:flex;
	color: #e85d33;
	
	}	

h5 {
	text-align: center;

	}
i {
	color: #e85d33;
	padding: 10px;
	margin-bottom: 5px;
	}	


 p {
	color: gray;
	padding: 5px;
	margin-top: 20px;
	font-family: 'Libre Baskerville', serif;
}

blockquote {
	color: #e85d33;
}

/*body {
  /* Location of the image */
  background-image: url(https://images.pexels.com/photos/69432/pexels-photo-69432.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
   Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height 
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
*/